 /* Services Section */
 .services {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
  }
  
  .services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
  }
  
  .services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: 0.3s ease-in;
  }
  
  .services__card{
    background: #1fa2ff; /* fallback for old browsers */
  }
  
  .services__card h2 {
    text-align: center;
  }
  
  .services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  .services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .services__card button:hover {
    cursor: pointer;
  }
  
  .services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }
  
  /* Footer CSS */
  .footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }
  /*FILTROS*/
  
  body{margin-top:20px;}
  .filtering {
      margin-bottom: 40px;
  }
  .filtering span {
      border-bottom: 2px solid transparent;
      color: #282b2d;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-right: 20px;
      display: inline-block;
      margin-bottom: 5px;
  }
  .filtering span:last-child {
      margin: 0;
  }
  .filtering .active {
      border-color: #ccde02;
      color: #ccde02;
  }
  .portfolio-wrapper {
      position: relative;
      overflow-x: scroll;
  }
  .portfolio-overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 500ms ease;
  }
  .portfolio-wrapper .portfolio-image img {
      transform: scale(1.2);
      will-change: transform;
      transition: all 0.5s ease;
      width: 100%;
  }
  .portfolio-wrapper:hover .portfolio-image img {
      transform: none;
  }
  .portfolio-overlay:before {
      position: absolute;
      display: inline-block;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      border: 1px solid rgba(0, 0, 0, 0.36);
      content: "";
      opacity: 0;
      transition: all 0.5s ease;
      transform: scale(0.85);
  }
  .portfolio-overlay .portfolio-content {
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
      padding: 0 35px;
  }
  .portfolio-content h4 {
      color: #000;
      font-weight: 600;
      font-size: 20px;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin-bottom: 15px;
  }
  .portfolio-content p {
      color: #000;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 0;
  }
  .portfolio-content > a {
      line-height: 42px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #000;
      display: inline-block;
      text-align: center;
      margin-bottom: 15px;
      font-weight: 800;
  }
  .portfolio-wrapper:hover .portfolio-overlay {
      background-color: rgba(204, 222, 2, 0.85);
  }
  .portfolio-wrapper:hover .portfolio-overlay:before {
      opacity: 1;
      visibility: visible;
      transform: none;
  }
  .portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
      transform: translateY(50%);
      transition: transform 0.5s ease;
      opacity: 1;
  }
  @media screen and (max-width: 1199px) {
      .portfolio-content h4 {
          font-size: 18px;
      }
  }
  @media screen and (max-width: 991px) {
      .portfolio-content h4 {
          margin-bottom: 10px;
      }
      .portfolio-content p {
          font-size: 15px;
      }
      .portfolio-content > a {
          margin-bottom: 10px;
      }
  }
  @media screen and (max-width: 767px) {
      .portfolio-content h4 {
          font-size: 17px;
      }
      .portfolio-content p {
          font-size: 14px;
      }
  }
  @media screen and (max-width: 575px) {
      .portfolio-content h4 {
          font-size: 16px;
      }
  }
  .grid .grid-item {
      position: relative;
      overflow: hidden;
  }
  .grid .grid-item .portfolio-wrapper {
      position: relative;
      overflow: hidden;
  }
  .grid .grid-item .portfolio-overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 500ms ease;
  }
  .grid .grid-item .portfolio-wrapper .portfolio-image img {
      transform: none;
      will-change: transform;
      transition: none;
      width: 100%;
  }
  .grid .grid-item .portfolio-wrapper:hover .portfolio-image img {
      transform: none;
  }
  .grid .grid-item .portfolio-overlay:before {
      position: absolute;
      display: inline-block;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      border: 1px solid rgba(0, 0, 0, 0.36);
      content: "";
      opacity: 0;
      transition: all 0.5s ease;
      transform: scale(0.85);
  }
  .grid .grid-item .portfolio-overlay .portfolio-content {
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
  }
  .grid .grid-item .portfolio-content h4 {
      color: #000;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 20px;
      margin-bottom: 10px;
  }
  .grid .grid-item .portfolio-content p {
      color: #000;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 0;
  }
  .grid .grid-item .portfolio-content a {
      line-height: 36px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: #000;
      display: inline-block;
      text-align: center;
      margin-bottom: 10px;
      font-weight: 800;
  }
  .grid .grid-item .portfolio-wrapper:hover .portfolio-overlay {
      background-color: rgba(204, 222, 2, 0.85);
  }
  .grid .grid-item .portfolio-wrapper:hover .portfolio-overlay:before {
      opacity: 1;
      visibility: visible;
      transform: none;
  }
  .grid .grid-item .portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
      transform: translateY(50%);
      transition: transform 0.5s ease;
      opacity: 1;
  }
  @media screen and (max-width: 1199px) {
      .grid .grid-item .portfolio-content h4 {
          font-size: 18px;
      }
  }
  @media screen and (max-width: 991px) {
      .grid .grid-item .portfolio-content h4 {
          margin-bottom: 10px;
      }
      .grid .grid-item .portfolio-content p {
          font-size: 15px;
      }
      .grid .grid-item .portfolio-content a {
          margin-bottom: 10px;
      }
  }
  @media screen and (max-width: 767px) {
      .grid .grid-item .portfolio-content h4 {
          font-size: 17px;
      }
      .grid .grid-item .portfolio-content p {
          font-size: 14px;
      }
  }
  @media screen and (max-width: 575px) {
      .grid .grid-item .portfolio-content h4 {
          font-size: 16px;
      }
      .grid .grid-item .portfolio-overlay:before {
          top: 10px;
          right: 10px;
          bottom: 10px;
          left: 10px;
      }
  }
  
  